:80 {
	handle /api/webui/* {
		reverse_proxy 127.0.0.1:8089
	}
	handle {
		root * /srv

		@envjs path /env.js
		header @envjs Cache-Control "no-store"

		try_files {path} /index.html
		file_server
	}
}
